In [49]:
import openai
import os
from dotenv import load_dotenv
import json
from langchain_openai import OpenAI

In [50]:
# Read API KEY from .env file
load_dotenv()
# Get API_KEY
api_key = os.getenv('OPENAI_API_KEY')
# Set up OpenAI API
openai.api_key = api_key

In [51]:
#Langchain - LLM - OpenAPI
llm = OpenAI(openai_api_key=api_key)
print(llm('Here is the fun fact about planet Pluto: '))

Pluto was discovered in 1930 by astronomer Clyde Tombaugh, but it was actually named by an 11-year-old girl from Oxford, England. Her name was Venetia Burney and she suggested the name Pluto after the god of the underworld in Roman mythology, as it was dark and cold on the distant planet.

In [52]:
result = llm.generate(['Here is the fun fact about planet Pluto:','Here is the fun fact about planet Mars:'])

In [53]:
result.schema()

{'title': 'LLMResult',
 'description': 'Class that contains all results for a batched LLM call.',
 'type': 'object',
 'properties': {'generations': {'title': 'Generations',
   'type': 'array',
   'items': {'type': 'array', 'items': {'$ref': '#/definitions/Generation'}}},
  'llm_output': {'title': 'Llm Output', 'type': 'object'},
  'run': {'title': 'Run',
   'type': 'array',
   'items': {'$ref': '#/definitions/RunInfo'}}},
 'required': ['generations'],
 'definitions': {'Generation': {'title': 'Generation',
   'description': 'A single text generation output.',
   'type': 'object',
   'properties': {'text': {'title': 'Text', 'type': 'string'},
    'generation_info': {'title': 'Generation Info', 'type': 'object'},
    'type': {'title': 'Type',
     'default': 'Generation',
     'enum': ['Generation'],
     'type': 'string'}},
   'required': ['text']},
  'RunInfo': {'title': 'RunInfo',
   'description': 'Class that contains metadata for a single execution of a Chain or model.',
   'type': 'object',
   'properties': {'run_id': {'title': 'Run Id',
     'type': 'string',
     'format': 'uuid'}},
   'required': ['run_id']}}}

In [54]:
result.llm_output

{'token_usage': {'prompt_tokens': 18,
  'completion_tokens': 135,
  'total_tokens': 153},
 'model_name': 'gpt-3.5-turbo-instruct'}

In [55]:
result.generations

[[Generation(text=' \n\nPluto was discovered in 1930 by American astronomer Clyde Tombaugh. It was considered the ninth planet in our solar system until 2006 when it was reclassified as a dwarf planet. Pluto has five known moons, the largest being Charon, which is about half the size of Pluto. It takes 248 Earth years for Pluto to complete one orbit around the sun. Despite its small size, Pluto has a thin atmosphere composed primarily of nitrogen, methane, and carbon monoxide.', generation_info={'finish_reason': 'stop', 'logprobs': None})],
 [Generation(text='\n\nMars is often called the "Red Planet" because of its reddish appearance. This is due to the presence of iron oxide (rust) on its surface.', generation_info={'finish_reason': 'stop', 'logprobs': None})]]

In [56]:
print(result.generations[1][0].text)

Mars is often called the "Red Planet" because of its reddish appearance. This is due to the presence of iron oxide (rust) on its surface.